@import "https://unpkg.com/leaflet@1.9.4/dist/leaflet.css";
* {
  padding: 0;
  margin: 0;
}
body {
  background-color: black;
  color: white;
}

.logo {
  font-size: 2rem;
  font-weight: bolder;
  color: rgb(62, 240, 62);
  border: 1px solid white;
  padding: 5px 2rem;
  text-decoration: none;
}
.layout {
  margin: auto;
  width: 80%;
}
.btn {
  padding: 0.6rem 2rem;
  border-radius: 1rem;
  font-weight: bolder;
  margin: 1rem;
  background-color: rgb(62, 240, 62);
  cursor: pointer;
  border: 2px solid white;
}
.nav {
  display: flex;
  width: 80%;
  margin: auto;
  align-items: center;
  justify-content: space-between;
}
.nav ul {
  display: flex;
  list-style-type: none;

  gap: 1rem;
}
.link {
  color: white;
  text-decoration: none;
}
.home {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.flex {
  display: flex;
  align-items: center;
}
.log {
  display: flex;
  justify-content: center;
  margin: 4rem;
}
input {
  display: block;
  height: 2rem;
  margin: 10px;
  border-radius: 1rem;
  width: 100%;
  padding: 0 0 0 20px;
}
.login {
  text-align: center;
  background-color: rgba(203, 203, 203, 0.423);
  padding: 3rem;
  width: 40%;
}
label {
  font-size: 1.2rem;
}
.applayout {
  display: flex;
  height: 100vh;
}
.sidebar {
  padding: 3rem;
  width: 40vw;
  background-color: rgba(39, 38, 38, 0.362);
}
.appnav {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
}
.appnavborder {
  padding: 2rem;
  text-align: center;
}
.Applinks {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2rem 0 0 0;
}
.li {
  background-color: rgb(29, 28, 28);
  padding: 10px 1rem;
}
.activeli {
  background-color: rgb(62, 60, 60);
  padding: 10px 1rem;
}
.country_list {
  margin: 10px;
  display: flex;
  justify-content: space-between;
  background-color: rgb(62, 60, 60);
  padding: 10px;
  border-left: 5px solid green;
  border-radius: 5px;
}
.close {
  background-color: rgb(184, 181, 181);
  padding: 5px;
  border-radius: 1rem;
}
.map {
  height: 100%;
  width: 100%;
  border: 1px solid white;
}
.city_Detail {
  padding: 4rem;
  background-color: rgb(42, 42, 42);
  margin: 1rem;
}
.form {
  margin: 1rem;
  background-color: rgb(91, 90, 90);
}
